<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <title>Using instance variables</title>
</head>
<body>
  <h1>Hello</h1>
<form name="myForm" action="welcome">
<input type="text" name="user_name">
<input type="password" name="password">
<input type="submit" id="log in">	
</form>		
</body>
</html>

